[Unit]
Description=Edge Sec Agent API
After=network.target

[Service]
ExecStart=/usr/local/bin/sec-api
Restart=always
User=root

[Install]
WantedBy=multi-user.target
